body 
{
    margin: 0;
    padding: 0;
    align: center;
    background: url(../img/carro.jpg) fixed;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
}
table
{
    width: 100%;
    height: 50px;

    padding: 10px;
    border: 1px solid gray;
    width-table:  2000px;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: whitesmoke;
}
li a
{
    display: block;
    color: gray;
    padding:1px 5px;
    text-decoration: underline;
    align-self: flex-start;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
} 